body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  position: relative;
}

header h2{
  font-size: 18px;
  font-style: normal;
}

#high-score-button {
  background: none;
  border: none;
  color: purple;
}

#high-score-button:hover {
  color: blueviolet;
}

.high-score-text {
  text-align: center;
}

#quiz-content {
  text-align: center;
}

#question h2 {
text-align: center;
}

#answers {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.button-answer {
  justify-content: center;
  background-color: blueviolet;
  border-radius: 3px;
  color: white;
  padding: 5px;
  margin: 5px;
  border-collapse: collapse;
  width: 10%;
  height: 6%;
}

.button-answer:hover {
  background-color: purple;
}

#main form {
 text-align: center; 
}

.score {
  font-size: 18px;
  text-align: center;
}